@media screen and (max-width: 1400px){
   #profile {
    height: 83vh;
    margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-detials-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }

    .arrow {
display: none;
    }

    section,
    .section-container {
height: fit-content;
    }

    section{
        margin: 0 5%;
    }

    .section__pic-container {
width: 300px;
height: 300px;
margin: 0 auto 4rem;
    }
.about-containers{
    margin-top: 0;
}
}

@media screen and (max-width: 600px){
    #contact,footer{
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
flex-wrap: wrap;
    }

.contact-info-container{
    margin: 0;

}

.contact-info-container p,
.nav-links li a {
    font-size: 1rem;
}
.experience-sub-title {
font-size: 1rem;
}
.experience-sub-title {
    font-size: 1.25rem;
}

.logo {
    font-size: 1.5rem;
} 

.nav-links {
    text-align: center;
    gap: 1rem;
}

.section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
}
.section__text__p2
 {
0.5;
}

.title {
    font-size: 1.5rem;

}

.text-container {
    text-align: justify;
}

}


/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    .modal-content {
      width: 90%; /* Increase width on smaller screens */
      padding: 15px; /* Reduce padding */
      margin: 15% auto; /* Adjust margin */
    }
  
    .close {
      font-size: 20px; /* Smaller close button */
    }
  }
  
  /* Mobile (max-width: 480px) */
  @media screen and (max-width: 480px) {
    .modal-content {
      width: 95%; /* Almost full width */
      margin: 20% auto; /* More margin from top */
      padding: 10px; /* Less padding */
      max-height: 80vh; /* Limit height */
      overflow-y: auto; /* Enable scrolling */
    }
  
    .close {
      font-size: 18px; /* Adjust font size */
      top: 5px;
      right: 10px;
    }
  }
    